.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.head{
  border: 1px solid black;
  width: 100px;
  border-radius: 4px;
}
td{
  border-radius: 4px;
}
.block{
  background-color: rgb(87, 85, 85);
}
.red{
  background-color: rgba(255, 0, 0, 0.562);
}
.green{
  background-color: rgb(140, 236, 140);
}
.yellow{
  background-color: rgba(255, 255, 0, 0.952);
}
h1{
  margin-right: 60%;
  color:rgb(140, 236, 140);
}
.board{
  width: 500px;
}